.features
  background-color: $color-gray-light
  padding: 15rem 0
  grid-column: center-start / center-end
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr))
  row-gap: 3rem
  column-gap: 4rem
  align-items: start
  @include respond(phone)
    padding: 5rem 0
.feature
  display: grid
  grid-template-columns: min-content 1fr
  // grid-template-rows: repeat(2, min-content)
  grid-gap: 1.5rem 2.5rem
  &__icon
    width: 4.5rem
    height: 4.5rem
    transform: translateY(-1rem)
    // grid-row: 1 / -1
    grid-row: 1 / span 2
  &__text
    font-size: 1.6rem
    font-weight: 400
    line-height: 1.13
    color: $color-green-dark
